In [14]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv("C:/Users/dev/Downloads/tempa.csv", sep=',').replace('"','', regex=True)
data

     LatD   LatM   LatS   LonD   LonM   LonS
0      41      5     59     80     39      0
1      42     52     48     97     23     23
2      46     35     59    120     30     36
3      42     16     12     71     48      0
4      43     37     48     89     46     11
..    ...    ...    ...    ...    ...    ...
123    39     31     12    119     48     35
124    50     25     11    104     39      0
125    40     10     48    122     14     23
126    40     19     48     75     55     48
127    41      9     35     81     14     23

[128 rows x 6 columns]

In [16]:
grouped_data = data.groupby('LatD').sum()
grouped_data

       LatM   LatS   LonD   LonM   LonS
LatD
26       43     11     80      3      0
27       77     24    164     57    106
28       48     35     97      0     36
29       78     35    179     49     11
30       76     47    167     32     94
31       72    105    279     54    106
32      189    318    755    208    116
33      253    152    676    205    188
34       60    106    401    156    140
35      109    118    278    144    107
36       54    105    296    108     36
37      275    236    896    259    295
38      391    258   1059    208    330
39      368    236    883    387    247
40      208    260    720    271    189
41      353    341   1050    268    223
42      256    297    877    315    318
43      244    333    722    338    237
44      373    187    846    206    304
45       72     34    183     35     22
46      123    105    420     69    179
47      114    105    481     87    143
48        9      0    103     37     12
49       68     60    220     16     12
50       25     11    104     39      0

In [17]:
resetindex = grouped_data.reset_index(drop=True)
resetindex

     LatM   LatS   LonD   LonM   LonS
0      43     11     80      3      0
1      77     24    164     57    106
2      48     35     97      0     36
3      78     35    179     49     11
4      76     47    167     32     94
5      72    105    279     54    106
6     189    318    755    208    116
7     253    152    676    205    188
8      60    106    401    156    140
9     109    118    278    144    107
10     54    105    296    108     36
11    275    236    896    259    295
12    391    258   1059    208    330
13    368    236    883    387    247
14    208    260    720    271    189
15    353    341   1050    268    223
16    256    297    877    315    318
17    244    333    722    338    237
18    373    187    846    206    304
19     72     34    183     35     22
20    123    105    420     69    179
21    114    105    481     87    143
22      9      0    103     37     12
23     68     60    220     16     12
24     25     11    104     39      0